POSTGRES_USER=user
POSTGRES_PASSWORD=passwordDB
POSTGRES_DB=nameDB
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

PGADMIN_EMAIL=test@test.com
PGADMIN_PASSWORD=password

CLERK_PUBLISHABLE_KEY=clerk-key
CLERK_SECRET_KEY=secret-clerk-key